

		
	p{

		background-color:lightgoldenrodyellow ;
	}
	body{

		background-color:lightblue ;
	}


	#Box{
		
		width: 300px;
		height: 300px;


		margin: 50px;
		border: 10px solid black;
		padding: 30px;

		border-radius: 20px;
	}
	/*

		margin:50px		40px;		30px;		20px;
				top;		right;		bottom;		left;
	

	margin:50px		40px;				20px;
			top;	left/right;		bottom;		


		margin;50px;				20px;
			top/bottom;			lest/right;


			margin-top:30px;
	*/

	#limani{
		background-color: yellow;
		width: 100px;
		height: 100px;

		border: 2px solid limegreen;

		border-radius: 10px 50px;

	}
			 




